@font-face {
  font-family: 'Roboto-light';
  src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-medium';
  src: url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-bold';
  src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype'),
  url('../fonts/Roboto-Regular.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype'),
  url('../fonts/Roboto-Regular.woff') format('woff');
  font-style: normal;
}

/* Global-styles----------------------------------------------------*/


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
}

body {
  background-color: #fafafa;
  font-family: Roboto-Regular, sans-serif;
}

section {
  position: relative;
}

.container {
  max-width: 1141px;
  margin: 0 auto;

}

.containerImgArticle {
  width: 50%;
  overflow: hidden;
  margin: 30px 0;
}

.containerImgArticle > img {
  object-fit: cover;
  width: 100%;
  height: 350px;
}

/* Footer-styles----------------------------------------------------*/

footer {
  font-family: 'Roboto-Regular', sans-serif;
  background-color: #383838;
  height: 75px;
  position: relative;
}

.footer_content_wrapper {
  display: flex;
  justify-content: space-between;
  color: #f8f8f8;
  align-items: center;
  height: 100%;
  font-size: 14px;
  font-weight: 400;
  margin: 0 auto;
  max-width: 1141px;
  white-space: nowrap;
}

.footer_content_wrapper > div {
  margin: 0 10px;
}

.footer_links_wrapper {
  position: relative;
  display: flex;
  justify-content: left;
  text-align: center;
  height: 100%;
  align-items: center;
}

.footer_links {
  color: #fafafa;
  font-size: 16px;
  font-weight: 700;
  margin: 0 32px;
}

@media (max-width: 830px) {
  .footer_links {
    margin: 0 10px;
  }

  .containerImgArticle {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .footer_links_wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media (max-width: 566px) {

  footer {

    height: 150px;
  }

  .footer_content_wrapper {
    flex-direction: column;
  }
}


/* Header-styles----------------------------------------------------*/

.body__hidden {
  overflow: hidden;
}

.header__img {
  margin-top: -5.9%;
  width: 100%;
  max-height: 425px;
}

.container_content__blockText {
  width: 100%;
  position: relative;
}


.header__text {
  font-family: 'Roboto-Regular', sans-serif;
  position: absolute;
  margin-top: 1%;
  max-width: 472px;
  left: 20%;
  font-weight: 300;
  font-size: 15px;
  color: #FFFFFF;
}

.header__nav_link {
  color: #373333;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: auto;
  text-decoration: none;
  white-space: nowrap;
  margin-right: 50px;
  transition: all ease 0.3s;
}

.header__nav_link:hover {
  color: #b98015;
  background-color: #fafafa;
  transition: all ease 0.3s;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  margin: 27px 15px;
  align-items: center;
}

.header__search > input {
  width: 100%;
  height: 42px;
  background-color: #fafafa;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 22px;
  padding: 0 10px;
}

.header__search {
  position: relative;
  flex-basis: 30%;
  border: 1px solid #c9c9c9;
  transition: all ease 1s;
}

.nav_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  cursor: pointer;
  z-index: 10200;
  background: rgba(0, 0, 0, 0.5);
  transition: all ease 0.3s;
}

.activeOverlay {
  display: block;
  transition: all ease 0.3s;
}

.search_button {
  position: absolute;
  right: 0;
  height: 42px;
  background-color: #eaeaea;
  width: 42px;
  transition: all ease 0.3s;
}

.search_button:hover {
  background-color: #dcdcdc;
  transition: all ease 0.3s;
}

.show {
  display: none;
}

.hamburger-line {
  width: 100%;
  height: 4px;
  background-color: #383838;
  display: block;

  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger-line:nth-child(1) {
  /* margin: 7px auto 0;*/
}

.hamburger-line:nth-child(2) {
  margin: 4px auto;
}

.show.hamburger-active .hamburger-line:nth-child(2) {
  opacity: 0;
}

.show.hamburger-active .hamburger-line:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(40deg);
  -ms-transform: translateY(10px) rotate(40deg);
  -o-transform: translateY(10px) rotate(40deg);
  transform: translateY(7px) rotate(40deg);
}

.show.hamburger-active .hamburger-line:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(-40deg);
  -ms-transform: translateY(-10px) rotate(-40deg);
  -o-transform: translateY(-10px) rotate(-40deg);
  transform: translateY(-9px) rotate(-40deg);
}

#menu {
  margin: 0 auto;
  position: fixed;
  z-index: 10203;
  background-color: #fafafa;
  cursor: pointer;
  border-radius: 50px;
  width: 20px;
  top: 15px;
  right: 5px;
  padding: 8px;
  height: 20px;
  text-align: center;
  line-height: 40px;
}


.header__content__share-news1 {
  display: flex;
  flex-wrap: nowrap;
}

.header__nav-navigation {
  display: flex;
  max-width: 250px;
}

@media (max-width: 1080px) {
  .header__nav_link {
    margin-right: 10px;
  }
}

@media (max-width: 995px) {
  .header__text {
    display: none;
  }
  .header__content__share-news1 > a {
    margin-right: 10px;
  }
}


@media (max-width: 882px) {

  .show {
    display: block;
  }

  .header__nav_link {
    font-size: 25px;
    line-height: 50px;
    padding-right: 150px;
  }

  .header__nav-navigation {
    display: block;
    position: fixed;
    left: -100%;
    overflow: hidden;
    top: 0;
    z-index: 10202;
    /*  max-width: 400px;*/
    background-color: azure;
    padding: 20px;
    transition: all ease 0.3s;
    /*  border-radius: 15px;*/
    height: 100%;
  }

  .header__search {
    flex-basis: 100%;
  }

  .active {
    left: 0;
    transition: all ease 0.3s;
  }
}

/* Page-1----------------------------------------------------*/

.container_content {
  display: flex;
  position: relative;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 40px;
  background-color: #f3f3f3;
}

.container_content_section-content {
  margin: 0 40px;
  max-width: 487px;
  width: 50%;
}

.container_content_section-content > img {
  max-height: 353px;
  width: 100%;
}

.container_content_section-content > h1 {
  font-family: 'Roboto-medium', sans-serif;
  font-weight: 600;
  color: #1c1c1c;
  font-size: 35px;
  margin: 30px 0;
}

.container_content_section-content > p {
  font-family: 'Roboto-light', sans-serif;
  color: #1c1c1c;
  font-size: 18px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.section-content_svg > span {
  font-size: 14px;
  margin: 0 10px;
}

.section-content_svg > img {
  position: relative;
}

.section-content_svg_calendar {
  top: 0;
}

.section-content_svg_messege {
  top: 2px;
}

.actual__article {
  display: flex;
  position: relative;
  margin: 0 20px 40px;
  justify-content: center;
  line-height: 0;
}

a.actual__single-article {
  position: relative;
  margin: -1px;
  overflow: hidden;
  width: 25%;
}

.actual__single-article_img {
  width: 100%;
  position: relative;
  height: 100%;
  object-fit: cover;
}

a.actual__single-article:after {
  transition: 0.5s all ease;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: transparent;
  opacity: 1;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 99%, rgba(0, 0, 0, 0.65) 100%); /* FF3.6-15 */
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 99%, rgba(0, 0, 0, 0.65) 100%); /*Chrome10-25,Safari5.1-6*/
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 99%, rgba(0, 0, 0, 0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0); /* IE6-9 */
}

a.actual__single-article:hover:after {
  content: "";
  opacity: 0;
}

.actual__single-article_titleWrapper {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #FFFFFF;
  font-family: 'Roboto-medium', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 80px;
}

.actual__single-article_titleWrapper_data {
  font-size: 14px;
  font-weight: 300;
  color: #b7b7b7;
  position: relative;
  z-index: 1;
}

.actual__single-article_titleWrapper_Title {
  font-size: 18px;
  font-weight: 300;
  position: relative;
  z-index: 1;
  line-height: 18px;
}

.messege_min {
  margin-right: 15px;
}

.container_oldArticle {
  display: flex;
  flex-direction: column;
}

.container_oldArticle_top {
  margin: 0 10px 40px;
  display: flex;
}

.add_OlderArticle {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ArticleHref {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 1;
  left: 0;
  top: 0;
}

.add_OlderArticle > a {
  flex-basis: 22%;
  margin-bottom: 40px;
}

.apiVkComments {
  flex-basis: 50%;
  margin-left: 5px;
  min-width: 29%;
  padding-right: 10px;
}

.wcomments_head ._wcomments_head ._wcomments_form {
  display: none !important;
}

.apiVkComments > h2 {
  font-family: 'Roboto-medium', sans-serif;
  font-size: 22px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.oldArticleImg {
  width: 100%;
  height: 250px;
  margin-bottom: 25px;
  object-fit: cover;
}

.oldArticle {
  display: flex;
  font-family: 'Roboto-Regular', sans-serif;
  margin-bottom: 20px;
  flex-basis: 50%;
  justify-content: flex-start;
}

.oldSingleArticle {
  flex-basis: 50%;
  margin: 5px 10px;
  overflow: hidden;
  max-width: 247px;
  display: flex;
  position: relative;
  flex-direction: column;

}


.oldSingleArticle_title {
  max-width: 230px;
  font-size: 18px;
  color: #282828;
  font-weight: 700;
  /*  margin: 25px 0;*/
  transition: all ease 0.3s;
}

.oldSingleArticle_title:hover {
  color: #b98015;
  transition: all ease 0.3s;
}

.oldSingleArticle_description {
  max-width: 230px;
  font-size: 16px;
  font-family: 'Roboto-light', sans-serif;
  color: #1c1c1c;
  font-weight: 300;
  overflow: hidden;
  margin-top: 25px;
}

.oldSingleArticle_blockImg {
  width: 100%;
  height: 250px;
}

.OldArticleDescription {
  max-height: 220px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.add_OlderArticle_button {
  background-color: #8aa6d1;
  margin-bottom: 50px;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 20px;
  white-space: nowrap;
  color: #FFFFFF;
  padding: 7px 15px;
  transition: all ease 0.3s;
  cursor: pointer;
  position: relative;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.add_OlderArticle_button:hover {
  background-color: #b98015;
  transition: all ease 0.3s;
}

@media (max-width: 995px) {

  .container_content > img {
    width: 40%;
  }

  .actual__article {
    flex-wrap: wrap;
  }

  a.actual__single-article {
    width: 50%;
  }

}

@media (max-width: 830px) {

  .apiVkComments {
    order: -1;
    margin: 0;
    padding: 0;
  }

  .container_content > img {
    width: 100%;
  }

  .oldArticleImg {
    margin-bottom: 0;
    height: 250px;
    width: 100%;
  }

  .add_OlderArticle {
    flex-direction: column;
    margin: 0 10px 40px
  }

  .add_OlderArticle > a {
    margin-bottom: 5px;
  }

  .container_content_section-content > h1 {
    font-size: 25px;
    margin: 30px 0;
  }

  .container_content {
    flex-direction: column;
  }

  .container_oldArticle_top {
    flex-direction: column;
    margin: 0 10px 0;
  }

  .container_content_section-content {
    margin: 0;
    max-width: unset;
    width: 100%;
  }

  .container_oldArticle {
    flex-direction: column;
    position: relative;
  }

  .oldArticle {
    order: -1;
    flex-direction: column;
    flex-basis: 100%;
    max-width: 900px;
  }

  .oldSingleArticle_title {
    max-width: 100%;
  }

  .oldSingleArticle_description {
    max-width: 99%;
    max-height: 80px;
  }

  .oldSingleArticle > * {
    display: flex;
    flex-direction: column;
  }
  .oldSingleArticle {
    max-width: unset;
  }


}

@media (max-width: 730px) {
  .actual__article {
    /* flex-direction: column;*/
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 0 40px;
  }

  a.actual__single-article {
    width: 100%;
    height: 450px;
  }
}

@media (max-width: 640px) {
  .oldArticleImg {
    margin-left: 0;
    max-height: unset;
    min-height: unset;
    min-width: unset;
    width: 100%;
  }

  .oldSingleArticle {
    margin-bottom: 30px;
  }

  .add_OlderArticle > a {
    margin-bottom: 30px;
  }

  .oldSingleArticle_title {
    margin: 0;
  }

  .OldArticleDescription {
    margin-left: 20px;
    max-height: unset;
    min-height: unset;
    min-width: unset;
  }

  .oldArticleImg {
    margin-bottom: 30px;
  }

}

@media (max-width: 566px) {
  .actual__single-article {
    width: 95%;
  }

  .actual__single-article_img {
    width: 100%;
    max-height: unset;
  }

  .oldSingleArticle_description {
    max-height: 75px;
  }

  .OldArticleDescription {
    margin: 10px 0 0;
    overflow: hidden;
  }


  .oldSingleArticle {
    flex-direction: column;
  }

  .oldArticle {
    overflow: hidden;
  }

  .oldSingleArticle_blockImg {
    width: 100%;
    height: 100%;
  }

  .oldSingleArticle_blockImg > img {
    width: 100%;

    margin: 0 auto;
  }
}


/* Page-2----------------------------------------------------*/


.container_content1 {
  display: flex;
  margin: 50px 0;
}

p.section-content_svg {
  display: flex;
  align-items: center;
}

.section-content_svg_calendar {
  top: 0;
}

.section-content_svg_messege1 {
  top: 2px;
  left: 20px;
}

.section-content_svg > img {
  position: relative;
}

.section-content_svg > span {
  font-size: 14px;
  color: #1c1c1c;
}

.container_content_section-content_description1 {
  font-size: 18px;
  color: #1c1c1c;
  font-family: "Roboto-Light", sans-serif;
}

.container_content_section-content1 {
  margin: 0 40px 0 15px;
  flex-basis: 60%;
}

.container_content_section-content1 > h1 {
  font-size: 35px;
  margin: 25px 0 30px;
  font-family: "Roboto-medium", sans-serif;
}

.container_content__article_img1_wrapper {
  height: 350px;
  width: 100%;
  overflow: hidden;
}

.container_content__article_img1 {
  position: relative;
  flex-basis: 57%;
  width: 40%;
  margin-right: 15px;
}

.container_content__article_img1_wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.apiVkComments1 > h2 {
  margin: 30px 10px 25px;
  font-size: 22px;
  /* font-family: "Roboto-medium", sans-serif;*/
}

.share-news-title1 {
  /*font-family: "Roboto-medium", sans-serif;*/
  font-size: 20px;
  font-weight: 600;
}

.container_content_section-content__share-news1 {
  margin-top: 40px;
}

.container_content_section-content__share-news1 > div {
  display: flex;
  margin-top: 10px;
}

.share-news1 {
  margin-right: 20px;
}

.share-news1 > img {
  transition: all ease 0.3s;
  border-radius: 50%;


}

.share-news1 > img:hover {
  transition: all ease 0.3s;
  background-color: rgba(24, 105, 241, 0.3);
  border-radius: 50%;

}

.oldArticleTitle1 {
  font-family: "Roboto-bold", sans-serif;
  font-size: 27px;
  margin-left: 15px;
  font-weight: 600;
}

.oldArticle1 {
  display: flex;
  font-family: 'Roboto-Regular', sans-serif;
  margin-top: 20px;
  margin-bottom: 30px;
}

.oldSingleArticle1 {
  flex-basis: 25%;
  margin: 5px 10px;
  overflow: hidden;
  display: flex;
  position: relative;
  flex-direction: column;
}

.oldSingleArticle_blockImg {
  width: 100%;
  height: 250px;
}

.oldArticleImg {
  width: 100%;

  margin-bottom: 25px;
  object-fit: cover;
}

.OldArticleDescription {
  max-height: 220px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.oldSingleArticle_title {
  max-width: 230px;
  font-size: 18px;
  color: #282828;
  font-weight: 700;
  /*  margin: 25px 0;*/
  transition: all ease 0.3s;
}


.oldSingleArticle_title:hover {
  color: #b98015;
  transition: all ease 0.3s;
}

.oldSingleArticle_description {
  max-width: 230px;
  font-size: 16px;
  font-family: 'Roboto-light', sans-serif;
  color: #1c1c1c;
  font-weight: 300;
  overflow: hidden;
  margin-top: 25px;
}

#vk_comments {
  max-height: 440px;
  overflow: auto;
}


@media (max-width: 937px) {
  .container_content1 {
    flex-direction: column;
    margin: 50px 0 30px;
  }

  .container_content__article_img1 {
    order: -1;
    overflow: hidden;
    width: 100%;
    margin-bottom: 30px;
  }

  .container_content_section-content1 {
    margin: 0 15px;
  }

  .apiVkComments1 {
    margin: 0 15px;
  }

  .apiVkComments1 > h2 {
    margin: 30px 0 25px;
  }
}

@media (max-width: 830px) {
  .oldArticle1 {
    order: -1;
    flex-direction: column;
    flex-basis: 100%;
    max-width: 900px;
  }

  .oldSingleArticle1 {
    display: flex;
    width: 97%;
    align-items: center;
    margin: 5px;
  }

  .oldSingleArticle_title {
    max-width: 100%;
  }

  .oldSingleArticle_description {
    max-width: 99%;
    max-height: 80px;
  }

  .oldSingleArticle1 > * {
    display: flex;
    flex-direction: column;
  }


}

@media (max-width: 600px) {
  .container_content_section-content1 > h1 {
    font-size: 30px;
  }

  .apiVkComments1 {
    margin: 3px;
  }

  .apiVkComments1 > h2 {
    margin: 30px 0 25px 15px;
  }

  .header__nav {
    margin: 25px 10px 10px;
  }


}
