.container_content1 {
  display: flex;
  margin: 50px 0;
}

p.section-content_svg {
  display: flex;
  align-items: center;
}

.section-content_svg_calendar {
  top: 0;
}

.section-content_svg_messege1 {
  top: 2px;
  left: 20px;
}

.section-content_svg > img {
  position: relative;
}

.section-content_svg > span {
  font-size: 14px;
  color: #1c1c1c;
}

.container_content_section-content_description1 {
  font-size: 18px;
  color: #1c1c1c;
}

.container_content_section-content1 {
  margin: 0 40px 0 15px;
  flex-basis: 60%;
}

.container_content_section-content1 > h1 {
  font-size: 35px;
  margin: 25px 0 30px;
  font-family: "Roboto-medium", sans-serif;
}

.container_content__article_img1_wrapper {
  max-height: 350px;
  width: 100%;
}

.container_content__article_img1 {
  position: relative;
  flex-basis: 57%;
  width: 40%;
  margin-right: 15px;
}

.container_content__article_img1_wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.apiVkComments1 > h2 {
  margin: 30px 10px 25px;
  font-size: 22px;
}

.share-news-title1 {
  font-family: "Roboto-medium", sans-serif;
  font-size: 20px;
}

.container_content_section-content__share-news1 {
  margin-top: 40px;
}

.container_content_section-content__share-news1 > div {
  display: flex;
  margin-top: 10px;
}

.share-news1 {
  margin-right: 20px;
}

.oldArticleTitle1 {
  font-family: "Roboto-bold", sans-serif;
  font-size: 27px;
  margin-left: 15px;
}

.oldArticle1 {
  display: flex;
  font-family: 'Roboto-Regular', sans-serif;
  margin-top: 20px;
  margin-bottom: 30px;
}

.oldSingleArticle1 {
  flex-basis: 31%;
  margin: 5px 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.oldSingleArticle_blockImg {
  width: 100%;
  height: 250px;
}

.oldArticleImg {
  width: 100%;
  height: 100%;
  margin-bottom: 25px;
  object-fit: cover;
}

.OldArticleDescription {
  max-height: 220px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.oldSingleArticle_title {
  max-width: 230px;
  font-size: 18px;
  color: #282828;
  font-weight: 700;
  /*  margin: 25px 0;*/
  transition: all ease 0.3s;
}


.oldSingleArticle_title:hover {
  color: #b98015;
  transition: all ease 0.3s;
}

.oldSingleArticle_description {
  max-width: 230px;
  font-size: 16px;
  font-family: 'Roboto-light', sans-serif;
  color: #1c1c1c;
  font-weight: 300;
  overflow: hidden;
  margin-top: 25px;
}

#vk_comments {
  max-height: 440px;
  overflow: hidden;
}


@media (max-width: 937px) {
  .container_content1 {
    flex-direction: column;
    margin: 50px 0 30px;
  }

  .container_content__article_img1 {
    order: -1;
    overflow: hidden;
    width: 100%;
    margin-bottom: 30px;
  }

  .container_content_section-content1 {
    margin: 0 15px;
  }

  .apiVkComments1 {
    margin: 0 15px;
  }

  .apiVkComments1 > h2 {
    margin: 30px 0 25px;
  }
}

@media (max-width: 830px) {
  .oldArticle1 {
    order: -1;
    flex-direction: column;
    flex-basis: 100%;
    max-width: 900px;
  }

  .oldSingleArticle1 {
    display: flex;
    width: 97%;
    align-items: center;
    margin: 5px;
  }

  .oldSingleArticle_title {
    max-width: 100%;
  }

  .oldSingleArticle_description {
    max-width: 99%;
    max-height: 80px;
  }

  .oldSingleArticle1 > * {
    display: flex;
    flex-direction: column;
  }

  .oldArticleImg {
    /*    flex-basis: 40%;*/
    width: 100%;
  }

}

@media (max-width: 600px) {
  .container_content_section-content1 > h1 {
    font-size: 30px;
  }

  .apiVkComments1 {
    margin: 3px;
  }

  .apiVkComments1 > h2 {
    margin: 30px 0 25px 15px;
  }

  .header__nav {
    margin: 25px 10px 10px;
  }

  /*  .container_content1{
      margin: 30px 0 75px;
    }*/
}
