* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
}

body {
  background-color: #fafafa;
  font-family: Roboto-Regular, sans-serif;
}

section {
  position: relative;
}

.container {
  max-width: 1141px;
  margin: 0 auto;

}
.containerImgArticle {
  width: 50%;
  overflow: hidden;
  margin: 30px 0;
}
.containerImgArticle >img {
  object-fit: cover;
  width: 100%;
  height: 350px;
}


footer {
  font-family: 'Roboto-Regular', sans-serif;
  background-color: #383838;
  height: 75px;
  position: relative;
}

.footer_content_wrapper {
  display: flex;
  justify-content: space-between;
  color: #f8f8f8;
  align-items: center;
  height: 100%;
  font-size: 14px;
  font-weight: 400;
  margin: 0 auto;
  max-width: 1141px;
  white-space: nowrap;
}

.footer_content_wrapper > div {
  margin: 0 10px;
}

.footer_links_wrapper {
  position: relative;
  display: flex;
  justify-content: left;
  text-align: center;
  height: 100%;
  align-items: center;
}

.footer_links {
  color: #fafafa;
  font-size: 16px;
  font-weight: 700;
  margin: 0 32px;
}

@media (max-width: 830px) {
  .footer_links {
    margin: 0 10px;
  }
  .containerImgArticle {
    width: 100%;

  }
}

@media (max-width: 640px) {
  .footer_links_wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media (max-width: 566px) {

  footer {

    height: 150px;
  }

  .footer_content_wrapper {
    flex-direction: column;
  }
}
